---
---
.tags li {
  float: left;
  list-style-type: none;
}

.tags li a {
  text-decoration: none;
  display: inline-block;
  background: rgba(106,159,181,0.15);
  padding: 0 .2rem;
  margin-right: .2rem;
  border-radius: 4px;
  color: #6a9fb5;
  font-family: "PT Sans",Helvetica,Arial,sans-serif;
  font-size: 90%;
}

.tags li a:before {
  content: "\f02b";
  font-family: FontAwesome;
  padding-left: 0.2rem;
  padding-right: 0.4rem;
}

.post-tags {
  margin: 0 0 5px 0;
}

.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both
}

.date {
  font-size: 0.7em;
}
