<span style="font-size: 1.7rem;">
  {%- if site.email -%}<a class="u-email" href="mailto:{{ site.email }}"><i class="fas fa-envelope" style="color: #444;"></i></a>
  {% endif %}
  {%- if site.github_username -%}<a href="https://github.com/jungtae74"><i class="fab fa-github" style="color: #008;"></i></a>
  {% endif %}
  {%- if site.rss -%}<a href="https://jungtae74.github.io/feed.xml"><i class="fas fa-rss-square" style="color: #fa0;"></i></a>
  {% endif %}
  {%- if site.linkedin_username -%}<a href="https://linkedin.com/in/정태-김-899b6085"><i class="fab fa-linkedin" style="color: #07b;"></i></a>
  {% endif %}
  {%- if site.twitter_username -%}<a href="https://twitter.com/pyoungon"><i class="fab fa-twitter-square" style="color: #2ad;"></i></a>
  {% endif %}
</span>
